!!!
%html
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %title= @title || settings.blog.title
    %link{href: "/assets/css/application", rel: "stylesheet"}/
    %link{href: "/feed", rel: "alternate", title: "Primary Feed", type: "application/atom+xml"}/
    %script{src: "/assets/modernizr.js"}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-21486770-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    .row
      .small-12.colums
        %h1
          %a{href: "/"}
            = settings.blog.title
            %small by #{settings.blog.author}

      .small-12.colums
        %dl.sub-nav
          %dd{class: "#{@section == :all ? 'active' : ''}"}
            %a{href: "/"} All

          %dd{class: "#{@section == :past ? 'active' : ''}"}
            %a{href: "/past"} Archive

          - if @tag
            %dd{class: "#{@section == :tag ? 'active' : ''}"}
              %a{href: "#"}= @title

          - if admin?
            %dd{class: "#{@section == :edit ? 'active' : ''}"}
              %a{href: "/posts/new"} New post

          - if @section == :auth
            %dd.active
              %a{href: "/auth"} Log In

      .small-12.colums
        = yield


    %script{src: "/assets/js/application"}
